# Local configuration files
config.ini
.env

# Environments
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.coverage

# Other common ignores
.DS_Store
